# Fusion Auth variables (using User Service APIs)
CREATE_USER_AUTHORIZATION=xxxx  # API key for Fusion Auth
CREATE_USER_URL="http://xxx.xxx.107.167:3005/api/user/registration"     # Signup URL for User Service
APPLICATION_ID=8924d6c5-de33-4b46-99e2-xxxxxx

# Hasura Variables
HASURA_URL="http://xxx.xxx.104.234:6001/v1/graphql"    # Hasura endpoint to dump users
HASURA_SECRET=xxxx

# Table Mutation query; use {VARIABLE_NAME} as a placeholder for a variable
TABLE_MUTATION_NAME='insert_iti_one'    # name of the mutation; we may need it in the script
TABLE_MUTATION='mutation {insert_iti_one(object: {name: "{name}", district: "{district}", latitude: "{latitude}", longitude: "{longitude}" }, on_conflict: {constraint: iti_name_key, update_columns: [name, latitude, longitude, district]}) { id }}'

# To enable or disable FA / Hasura Dump; 1 = Enabled, 2 = Disabled
FA_DUMP=1
HASURA_DUMP=1